html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* Add CSS styles for your web site here and use them in index.html. */
/* Navigation Bar */
.topnav {
overflow: hidden;
display: flex;
justify-content: right;
position: relative;
z-index: 2;
font-size: large;
border: #fff;
}

.topnav a {
float: left;
display:block;
color: rgb(176, 168, 168); /* White text */
text-align: center;
padding: 14px 16px;
text-decoration: none;
 font-weight: 300;
font-family: "Bitcount Prop Single", system-ui;
 

transition: color 0.3s ease;

}

.topnav a:hover { 
color: white;

}


.topnav a.active {
background-color: #444; /* Slightly lighter gray for active link */
color: white; /* Gold text for active link */
}

html  {
    background-image: url(black.jpg);
    background-size: 1800px;
}

img {
    display: block;
     margin:auto;
     border: 2px solid white ;
     border-radius: 20px ;
}
